.DS_Store
node_modules
server/config.js
server/uploadFiles/*
server/log/*
dist
dist.zip
behind.zip

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/log/access.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
